<!DOCTYPE html><html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <style type="text/css">
            .center-block {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        <!-- 引用bootstrap框架（基于jQuery，所以还需要引用jQuery） -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script type="text/javascript" src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <body>
        <!-- bootstrap导航条组件（默认样式） -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">闲谈博客</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <% if(user) { %>
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="/post"> 发布</a></li>
                    </ul>
                    <% } %>
                    <ul class="nav navbar-nav navbar-right">
                        <% if(user) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <%= user.username %>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">账户信息</a></li>
                                <li><a href="/logout">退出</a></li>
                            </ul>
                        </li>
                        <% } else { %>
                        <ul class="nav navbar-nav">
                            <li><a href="/login">登录</a></li>
                            <li><a href="/reg">注册</a></li>
                        </ul>
                        <% } %>
                    </ul>
                    <form class="navbar-form navbar-right" role="search" action='/search' method="get">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" name="keyTitle">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                </div>
            </div>
        </nav>
        <div id="container">
