<%= title %>
<div style="margin: 100px 250px">
	<div class="text-center">
		<a href="#" style="text-decoration: none"><h1>老人与海</h1></a>
		<div>
			<span>作者：海明威</span>
			<table style="display:inline-block;height:12px;border-color:#369;border-left-style:solid;border-width:1px"><tr><td valign="top"></td></tr></table>
			<span>时间：1988年3月37日</span>
			<table style="display:inline-block;height:12px;border-color:#369;border-left-style:solid;border-width:1px"><tr><td valign="top"></td></tr></table>
			<span>小说</span>
		</div>
		<article>
			<p>
				俗语道：不以成败论英雄，他那坚强的意志，勇敢的精神不比英雄的行为逊色，他将成为经历磨难而战无不胜的巨人，值得每个人倡导。古时的愚公移山，他明知开山绝非易事，也非一朝一夕就可完成，他“知其不可为而为之”，仍坚持带领子孙后代来开山。终于感化天帝，命山神搬走了这几座山。还有“水滴石穿”，“铁杵成针”，“冰冻三尺”等等，不都意味着“有志者，事竞成”吗？《老人与海》中有句名言：“一艘船越过世界的尽头，驶向未知的大海，船头上悬挂着一面虽然饱经风雨剥蚀却依旧艳丽无比的旗帜，旗帜上，舞动着云龙一般的四个字闪闪发光——超越极限！”在现实生活中，碰到困难是难免的，最重要的是要勇敢面对，有坚持不懈的精神，从失败中吸取教训。回想自己，每当碰到一点点困难就不耐烦，当失败时就好比泻了气的皮球。
			</p>
		</article>
	</div>
	<hr/>
	<div class="text-center">
		<a href="#" style="text-decoration: none"><h1>老人与海</h1></a>
		<div>
			<span>作者：海明威</span>
			<table style="display:inline-block;height:12px;border-color:#369;border-left-style:solid;border-width:1px"><tr><td valign="top"></td></tr></table>
			<span>时间：1988年3月37日</span>
			<table style="display:inline-block;height:12px;border-color:#369;border-left-style:solid;border-width:1px"><tr><td valign="top"></td></tr></table>
			<span>小说</span>
		</div>
		<article>
			<p>
				俗语道：不以成败论英雄，他那坚强的意志，勇敢的精神不比英雄的行为逊色，他将成为经历磨难而战无不胜的巨人，值得每个人倡导。古时的愚公移山，他明知开山绝非易事，也非一朝一夕就可完成，他“知其不可为而为之”，仍坚持带领子孙后代来开山。终于感化天帝，命山神搬走了这几座山。还有“水滴石穿”，“铁杵成针”，“冰冻三尺”等等，不都意味着“有志者，事竞成”吗？《老人与海》中有句名言：“一艘船越过世界的尽头，驶向未知的大海，船头上悬挂着一面虽然饱经风雨剥蚀却依旧艳丽无比的旗帜，旗帜上，舞动着云龙一般的四个字闪闪发光——超越极限！”在现实生活中，碰到困难是难免的，最重要的是要勇敢面对，有坚持不懈的精神，从失败中吸取教训。回想自己，每当碰到一点点困难就不耐烦，当失败时就好比泻了气的皮球。
			</p>
		</article>
	</div>
</div>
